@import 'theme';

.submit {
  min-width: 100px;
  background-color: $light;
  color: $darkest;
  padding: 1em 2em;
  border: none;
  border-radius: 20px;
  transition-duration: 0.3s;
  font-weight: bold;
}

.submit:hover {
  background-color: $mid;
}