@import 'theme';

.submit {
  margin: 0 auto;
  padding: 1rem 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  background: $dark;
  color: #FFFFFF;
  border-radius: 900px;
  box-shadow: #a5a5ad 0 8px 16px -8px;
  transition-duration: 0.3s;
  border: 0;
  cursor: pointer;
}

.submit:hover {
  background-color: $darker;
}