@import 'theme';

.article-container {
  min-width: 450px;
  height: 500px;
  border-radius: 20px;
  background-color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: scroll;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.article-container h2 {
  margin: 0;
  color: $darker;
}