@import 'theme';

.search-bar, form {
  display: flex;
  gap: 20px;
  width: 600px;
}

.search-bar input {
  width: 100%;
  padding: 1em 1.5em;
  border: none;
  border-radius: 20px;
  outline-color: $darker;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 6px 20px;
}
