@import 'theme';

.search-bar, form {
  display: flex;
  gap: 20px;
  width: 600px;
}

.search-bar input {
  width: 100%;
  padding: 1em;
  border: none;
  border-radius: 20px;
  outline-color: $darker;
}
