@import 'theme';

.search-bar, form {
  display: flex;
  gap: 20px;
  width: 55%;
}

.search-bar input {
  width: 100%;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 20px;
  outline-color: $darker;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 6px 20px;
}
