@import 'theme';

.track-container {
  display: flex;
  flex-direction: column;
}

.track-contents {
  display: flex;
  flex-direction: row;
  gap: 0.75px;
  justify-content: space-between;
  align-items: center;
}

.title-container {
  display: flex;
  flex-direction: column;
  gap: 0.75px;
}

.track-container h4, h5 {
  margin: 0;
}

h4 {
  font-weight: 500;
}

h5 {
  font-weight: 400;
}

hr {
  border: none;
  width: 100%;
  border-top: 1px solid $light;
  margin-bottom: 0;
  margin-top: 1rem;
}

.track-button {
  font-size: 1.5em;
  background: none;
  color: $dark;
  border: none;
  transition-duration: 0.3s;
}

.track-button:hover {
  font-size: 1.8em;
}