@import './styles/theme.scss';

.App {
  background-color: $lightest;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.App-header {
  padding-top: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

main {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}